/*!
 * GLide - Multi-Purpose Bootstrap Theme
 * Theme is developed by Vita Creative (http://vitacreative.net)
 * Copyright 2015 . All Rights Reserved.
 */


html, body{
    height:100%;
}

body{
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    line-height: 1.46666667;
    color: #777;
    background-color: #F7F6F6;
    font-weight: 300;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: Raleway,sans-serif;
}


p{
    color:rgb(129, 129, 129);
    font-weight:300;
}


ul{
    padding:0;
}

ul li{
    list-style:none;
}


a,
a:hover,
a:focus{
    outline:none;
    text-decoration: none;
    color: #f05f40;
}

.animatedLoading {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:white url('../img/loader.gif') no-repeat center center;
    z-index:9999;
}

.separator{
    height:1px;
    width: 100%;
    margin: 20px auto 15px;
}


.gradient-glide-left{
    background: linear-gradient(to right, rgba(240, 95, 64, 0.9) 0,rgba(240, 95, 64, 0.6) 35%,rgba(240, 95, 64, 0.2) 70%,rgba(0,0,0,0) 100%);
}

.gradient-light{
    background: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.09) 35%,rgba(0,0,0,.09) 70%,rgba(0,0,0,0) 100%);
}

.gradient-light-left{
    background: linear-gradient(to right,rgba(0,0,0,.09) 0,rgba(0,0,0,.06) 35%,rgba(0,0,0,.02) 70%,rgba(0,0,0,0) 100%);
}

.gradient-white{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0,rgba(255,255,255,.6) 35%,rgba(255,255,255,.6) 70%,rgba(255,255,255,0.4) 100%);
}


.btn-lg{
    padding:14px 30px;
}
.btn-light,
.btn-glide,
.btn-colored{
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}


.btn-light,
.btn-light:focus{
    color:white;
    border:1px solid white;
}

.btn-light:hover{
    background: #f5f5f5;
    color:#f05f40;
}


.btn-glide,
.btn-glide:focus{
    color:#f05f40;
    border:1px solid #f05f40;
}

.btn-glide:hover{
    background:#f05f40;
    color:#fff;
}


.btn-colored,
.btn-colored:focus{
    background:#f05f40;
    color:white;
    border:1px solid #f05f40;
}

.btn-colored:hover{
    background: #dd593c;
    color:white;
}

.project-action a{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    transition:all 0.3s;
    -webkit-transition: all 0.3s;
}

.project-action a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:#f05f40;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.project-action a:hover{
    background:white;
    color: white;
}
.project-action a:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}



.glide-color {
    color:#f05f40;
}

.glide-logo{
    font-weight:500;
}


section{
    position:relative;
}


.overlay{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index:1;

}

.height-centered{
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: #FFF;
    width: 100%;
    z-index:2;
}


#section-home{
    height:100%;
    width:100%;
    background-image:url('../img/bg.jpg');
    background-size:cover;
}




#section-services {
    background: #fdfdfd;
    border-bottom: 1px solid #ddd;
    padding: 100px 0;

}

#section-portfolio{
    background:#F7F7F7;
    padding-top:80px;
    padding-bottom:20px;
}


#section-about{
    background: #fdfdfd;
    border-bottom:1px solid #ddd;
    padding-top:70px;
    padding-bottom:20px;
    overflow-x:hidden;
}

#section-offers{
    padding-top:70px;
    padding-bottom:100px;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
    margin-top:15px;
    background: #fdfdfd;
}

#section-team {
    background:#F7F7F7;
    border-bottom:1px solid #ddd;
    padding:100px 0;
    overflow-x:hidden;
}


#section-testimonials{
    background:#F7F7F7;
    border-bottom:1px solid #ddd;
    padding-bottom:50px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}


#subsection-pricing{
    background:url(../img/subpricing.jpg) 50% 0 repeat fixed;
    padding:40px 0;
}

#subsection-pricing.parallax-bg:before{

    background-color:rgba(0, 0, 0, .6) ;
}


.subsection-text h1,
.subsection-text h2,
.subsection-text h3,
.subsection-text h4,
.subsection-text h5,
.subsection-text h6{
    color:white;
}


.subsection-text p{
    color:white;
}

.side-image img{
    margin:0 auto;
}


#subsection-contact{
    position:relative;
    background:url(../img/subcontact.jpg) center 0 no-repeat fixed;
    margin: 0 auto;
    padding:50px 0;
    width: 100%;
    max-width: 1920px;
    overflow-x:hidden;
}



#section-pricing{
    background:#fdfdfd;
    border-bottom:1px solid #ddd;
    padding:100px 0;
}

#section-contact{
    background:url(../img/contact.jpg) center 0 no-repeat fixed;
    margin:0 auto;
    padding:100px 0;
    color:white;
}



.vegas-timer {
    top: 0 !important;
    bottom: auto !important;
    height: 4px !important;
    z-index:10;
}

.vegas-timer-progress{
    background: rgba(212, 212, 212, 0.9) !important;
}



#section-contact .header-title h2,
#section-contact .header-title p{
    color:white;
}

.subheader-title {
    text-align:left;
    margin-bottom:20px;
}

.subheader-title h2{
    margin-bottom:0;
}

.subheader-title p{
    font-size:17px;
    line-height: 25px;
}



.pad{
    padding:0 50px;
}


#footer-top{
    padding: 40px 0;
    color: #999;
    background: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

#footer-bottom{
    padding: 20px 0;
    background: #f5f5f5;
    border-top: 1px solid #D8D8D8;
}

.footer-content{
    margin-bottom:40px;
}




.footer-portfolio .project-zoom{
    width: 36px;
    height: 36px;
    font-size:18px;
    line-height:36px;
    margin-left:-18px;
    margin-top:-18px;
    text-align:center;
    border:2px solid #fff;
    border-radius:50%;
    margin-top:-18px;
}



.copyright{
    text-align:center;
}

.copyright p{
    color: #5b5b5b;
}


.panel-default>.panel-heading {
    color: #333;
    background-color:#fdfdfd;
    border-color: #ddd;
    padding-top:20px;
    padding-bottom:20px;
}


.panel-default {
    border-color: transparent;
}
.panel{
    background-color:#fdfdfd;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
}


.panel-title a{
    font-size:19px;
    font-weight:400;
}



.panel-heading .accordion-toggle:before,
.panel-heading .accordion-toggle:after{
    font-family: FontAwesome;
    content: "\f055";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    color:#f05f40;
    font-size:21px;
}


.panel-heading .accordion-toggle.collapsed:after{
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.panel-heading .accordion-toggle.collapsed:hover:after,
.panel-heading .accordion-toggle.collapsed:focus:after,
.panel-heading .accordion-toggle.collapsed:active:after
{
    -webkit-animation-name:sink-away;
    animation-name:sink-away;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}


.panel-heading .accordion-toggle{
    color:#f05f40;
    transition:all .5s;
    -webkit-transition:all .5s;
}

.panel-heading .accordion-toggle.collapsed{
    color: #6f6f6f;
}


.panel-heading .accordion-toggle:hover
{
    color:#f05f40;
}

.parallax-bg:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(../img/pattern.png)  rgba(0, 0, 0, .4) ;
    z-index: 0;
}



.no-gutter [class*=col-] {
    padding:0;
    overflow:hidden;
}


.portfolio-box{
    position:relative;
    margin-top:20px;
}

.project-item{
    position:relative;
}

.portfolio-box .project-item{
    width:25%;
    float:left;
    overflow: hidden;

}

.project-layer,
.project-zoom,
.project-content{
    position:absolute;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    opacity:0;
}


.project-layer{
    top:0;
    left:0;
    background:rgba(240, 95, 64, 0.65);
    width:100%;
    height:100%;
}

.project-zoom{
    top:30%;
    left:50%;
    border:2px solid #fff;
    text-align:center;
    border-radius:50%;
}

.project-zoom,
.project-zoom:focus{
    background:transparent;
    color:#fff;
}

.portfolio-box .project-zoom{
    line-height:56px;
    font-size:27px;
    width:56px;
    height:56px;
    margin-left:-28px;
    margin-top:-38px;
}


.project-content{
    bottom:-75px;
    left:0;
    width: 100%;
    height: 75px;
    padding-left: 20px;
    padding-top: 4px;
}

.project-title h4{
    color:white;
}

.project-category p{
    color: #f2f2f2;
}

.project-zoom:hover{
    background:#fff;
    color:#f05f40;
}

.project-item:hover .project-layer,
.project-item:hover .project-zoom{
    opacity:1;
}

.portfolio-box .project-item:hover .project-content{
    opacity:1;
    transform:translateY(-75px);
    -webkit-transform:translateY(-75px);
}

.project-item:hover .project-zoom{
    top:50%;
}


.project-category{

    font-size:15px;
    color:#7C7C7C;
    font-weight:500;
}



.project-action{
    text-align:center;
    margin: 50px 0;
}


#Container .mix{
    display: none;
}

#Container{
    padding:10px 0;
    background: #F1EFEF;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    float:left;
    width:100%;
}


.filters{
    text-align:center;
    margin-bottom:20px;
}

.filters-list li{

    margin:0 5px;

}

.filters-list li a{
    display: block;
    font-size:20px;
    padding:15px 25px;
    border-bottom:2px solid transparent;
    color: #9e3f2b;
    transition:all .5s;
    -webkit-transition: all .5s;
}

.filters-list li a:hover {
    color: #f05f40;
}

.filters-list li.active a{
    color:#f05f40;
    border-bottom-color:#f05f40;
}


.owl-carousel{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.owl-theme .owl-controls .owl-buttons div{
    background: transparent !important;
    border-radius: 0 !important;
    color:#f05f40 !important;
    font-size:32px !important;
    opacity:.9 !important;
    border-bottom:2px solid #f05f40;
}

.owl-controls .owl-page span {

    background:#f05f40 !important;

}

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -15px;
    top: 155px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
    right: -15px;
    top: 155px;
}


.overview{
    margin-top:10px;
}

#main-navigation{
    border-top:2px solid #f05f40;
    height:70px;
    border-left:0;
    border-right:0;
    border-bottom:0;
    z-index:5;
}

#main-navigation.navbar-fixed-top{
    box-shadow: 2px 0 3px 3px rgba(27, 27, 27, 0.6);
}

#main-navigation .navbar-nav>li>a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar-brand{
    font-weight: bold;
    line-height: 40px;
    position: relative;
    color: #fff !important;
    font-size: 26px;
}

.nav-links{
    text-align:center;
}

.nav-links a{
    padding:13px 27px;
    margin:12px 10px;
    font-weight: 500;
    border-radius: 3px;
}

.nav-links a:hover{
    border-color:#f05f40;
    background: #f05f40;
    color:white;
}




.break-line-block {
    margin:20px auto;
    width:200px;

}

.break-line span{
    vertical-align:middle;
    display:inline-block;

}


.h-line {
    width:70px;
    border-bottom: 1px solid #CBCBCB;
    border-top: 1px solid white;
}

.square{
    width:12px;
    height:12px;
    border-radius:2px;
    margin:0 5px;
    background:#f05f40;
}


.intro-title {
    text-align:center;
    color:white;
    margin:0 auto;
}


.intro-title h1{
    font-size:50px;
    line-height: 1.3em;
    font-weight: 300;
    color:white;
    text-transform:uppercase;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.31);
}



.intro-title p{
    font-size: 20px;
    color:white;
    margin:35px 0;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.31);
}




.header-title{
    margin-bottom:60px;
    text-align:center;
}

.header-title h2{
    margin-top:0;
    margin-bottom:0;
}


.header-title p{
    font-size: 18px;
    line-height: 25px;
}



.service-content h3{
    font-size:25px;
}

.service-content p{
    font-size:15px;
}

.service-action{
    margin-top:30px;
}



.offers{
    margin-top:50px;
}
.offers-icon{
    float:left;
    margin-top:20px;
}

.offers-content{
    margin-left:70px;
}

.offers-icon .fa {
    position: relative;
    text-align: center;
    line-height: 40px;
    color: #f05f40;
    font-size: 37px;
}

.offers .code-icons{
    margin-top:40px;
    text-align:center;
}

.offers .code-icons .fa{
    font-size:50px;
    margin:0 40px;
    color: #b7b7b7;
}



.footer-links{
    padding:0;
    list-style-type: none;
}

.footer-links li{

    margin:20px 0;

}

.footer-links a{
    display:block;
    color: #727272;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.footer-links li a:after{
    font-family: FontAwesome;
    content: "\f100 ";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    float:right;
    color:#f05f40;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.footer-links li a:hover:after{
    transform:translateX(-15px);
    -webkit-transform:translateX(-15px);
}

.footer-links li a:hover{
    color:#f05f40;
}



.footer-portfolio{
    padding:5px;
}



.service-box{
    position: relative;
    padding:30px 20px;
    text-align:center;
    background:white;
    border:1px solid #f2f2f2;
    border-radius:5px;
    margin:20px 0;

}

.service-box .service-icon .fa:after{
    content: '';
    width:100%;
    height:100%;
    border-radius: 50%;
    position: absolute;
}


.service-icon .fa{
    position:relative;
    width:80px;
    height:80px;
    border-radius:50%;
    text-align:center;
    line-height: 80px;
    background:#f05f40;
    color:white;
    font-size:37px;
    -webkit-transition: all .4s ;
    transition: all .4s ;
}

.service-icon .fa.icon-center{
    background:rgba(66,66,66,.66);
}


.service-icon .fa.icon-center:after{
    top: 0;
    left: 0;
    box-shadow: 0 0 0 4px rgba(66,66,66,.66);
    -webkit-transition: all .4s ;
    transition: all .4s ;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity:1;
}


.scroll-down span {

    display:inline-block;
    vertical-align:middle;
}

.scroll-down{
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    height:50px;
    width:70%;
    margin:auto;
    text-align:center;
    z-index:2;
}


.line{
    display:inline-block;
    width:40%;
    border-top:1px solid white;
    vertical-align:middle;

}


.scroll-down-arrow {
    margin: 0 2%;
    text-align:center;
    border-radius: 100%;
    line-height:45px;
    width:45px;
    height: 45px;
    font-size:18px;
    border:2px solid white;
    color:white;

}


.input-block {
    margin: 10px 0;
    color: #AEAEAE;
}

.input-block i {
    position: absolute;
    left: 25px;
    top: 28px;
}

.input-forms {
    background-color:transparent;
    width: 100%;
    padding-left:30px;
    border: 1px solid #ddd;
    border-radius:4px;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;

}

input.input-forms{

    height: 52px;

}

textarea.input-forms{
    padding-top:15px;
}

.input-forms:focus{
    box-shadow: 0 0 11px -2px #f05f40;

}

.input-forms:focus{
    outline:0;
}


input[type="submit"]{

    border-radius:3px;
}

label.error{

    color:#EF2929;
    margin-top:10px;
}


.table-content{
    position:relative;
    text-align:center;
    border:1px solid #ddd;
    border-radius:5px;
    background:#F7F7F7;
}


.table-content li{
    border-bottom: 1px solid #ddd;
    padding:15px;
}

.table-content li{
    list-style-type:none;
}

.table-content.active .price{
    color:white;
    background:#f05f40;
}

.table-content .btn{
    margin:15px;
    padding:12px 22px;
    font-size:16px;
}



.table-content .fa-check{
    color:green;
}

.table-content .fa-close{
    color:red;
}


.price{
    padding:20px;
    background:#EDECEC;
    font-weight: 300;
    font-size: 30px;
}

.pricing-table{
    margin-top:20px;
    margin-bottom:20px;
}

.recomended{
    position:relative;
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);

}

.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 9px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}


.ribbon span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.team{
    padding:10px 10px 10px 10px;
}


.team-header{
    text-align:center;
}
.team-footer{
    margin-top:20px;
}
.team-footer>p{
    font-size:17px;
    font-weight: 500;
}
.team-body{
    position:relative;
    padding:6px;
    background:white;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.team-body .inner{
    position:relative;
    overflow:hidden;
}


.team-layer{
    position:absolute;
    background: rgba(68, 67, 67, 0.5);
    transition:all .5s;
    -webkit-transition:all .5s;
}

.team-body .team-layer{
    width:100%;
    height:0;
    bottom:0;
    left:0;
}

.team-layer .layer-inner{
    display:table;
    width:100%;
    height:100%;
}

.team-content{
    position:relative;
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    opacity:0;
    transition: all .5s;
    -webkit-transition:all .5s;
    padding:0 20px;
}


.team-quote p{
    color:#fff;
}

.team-body:hover .team-content{
    opacity: 1;
}

.team-body:hover .team-layer{
    height:100%;
    background: rgba(0, 0, 0, 0.5);
}


.team-body .team-layer .icon-quote{
    opacity:1;
    border-radius:50%;
    border:2px solid white;
    text-align:center;
    width:35px;
    height:35px;
    line-height:33px;
    color:#fff;
    font-size:14px;
    margin-bottom:20px;
}

.team-social .fa{
    margin:0 5px;
    color:#fff;
}


ul.team-follows{
    list-style: none;
    padding: 0;
}

ul.team-follows li{
    color:#f05f40;
}

ul.team-follows li{
    display: inline-block;
    margin:1%;
}

ul.find-us i{
    padding-right:10px;
    color:#f05f40;

}

ul.find-us li{
    margin-top:10px;
}



ul.social-list {
    margin-top:30px;
}


ul.social-list li {
    display: inline-block;
}

ul.social-list li a{
    display:block;
    margin:7px;
    color: #f05f40;
    border:1px solid #f05f40;
    border-radius:50%;
    width: 40px;
    height: 40px;
    font-size:20px;
    line-height:40px;
    transition: all .4s;
    -webkit-transition: all .4s;
}



ul.social-list li a:hover  {
    background:#f05f40;
    color:#fff;
}

.footer-social{
    text-align:center;
}

.quote{
    padding:0 200px;
    text-align:center;
}


.quote-author{
    display:inline-block;
    vertical-align:middle;
}

.quote-title{
    font-size:19px;
}

.quote-info{
    margin-top:40px;
    margin-bottom:40px;
}

.quote-author p{
    color: #5d5d5d;
}
.quote-icon{
    font-size:15px;
}

.quote-img{
    width:100px;
    height:100px;
    margin:0 auto;
}

.quote-img img{
    border:1px solid #ddd;
    width:inherit;
    padding:2px;
}



/* Icon Sink Away */
@-webkit-keyframes sink-away {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(1em);
        transform: translateY(1em);
    }
}

@keyframes sink-away {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(1em);
        transform: translateY(1em);
    }
}



@media screen and (max-width:991px){

    .recomended{
        position:relative;
        z-index: 2;
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        box-shadow: none;
    }


    .input-block i{

        top:18px;
    }


    .quote{
        padding:0 30px;
    }

    .portfolio-box .project-item{
        width:50%;
    }

    .owl-theme .owl-controls .owl-buttons{
        display:none;
    }

    .overview{
        margin-top:50px;
    }

}


@media (min-width: 768px) {

    #main-navigation .navbar-nav>li>a{

        padding-top: 15px;
        padding-bottom: 9px;
        color: white;
        line-height:42px;

    }

    #main-navigation .navbar-nav>li.active>a,
    #main-navigation .navbar-nav>.li>a:focus,
    #main-navigation .navbar-nav>li.active>a:hover {
        color: #f05f40;
        background:none;

    }



}


@media (max-width: 767px) {
    #main-navigation .navbar-toggle {
        margin: 18px 15px 16px 15px;
    }

    #main-navigation .navbar-nav {
        margin-top: 0;
        text-align: left;
    }
    #main-navigation .navbar-nav>li>a {
        color: #9d9d9d;
        background: #222222;
        margin: 0;
    }
    #main-navigation .navbar-nav>li.active a,
    #main-navigation .navbar-nav>li.active a:hover,
    #main-navigation .navbar-nav>li.active a:focus{
        background: #333333;
    }

    #main-navigation .navbar-nav>li>a:hover,
    #main-navigation .navbar-nav>li>a:focus {
        background: #222222;
        color: #fff;
    }

    .intro-title h1{
        font-size:40px;
    }

    .portfolio-box .project-item{
        width:100%;
    }

}


@media (max-height: 500px) {

    .scroll-down{

        display:none;

    }

}

@media (max-width: 508px) {

    .scroll-down{

        display:none;

    }

    .pad{
        padding:0;
    }

}
